<header id="header-container" class="header-style-2">
  <div class="top-bar-container">
    <ul class="top-bar-menu">
      <li><a href="{{ LINK }}empresa">Empresa</a></li>
      <li><a href="{{ LINK }}agentes">Equipo</a></li>
      <li>
        <a href="{{ LINK }}entreganos-tu-propiedad">Entréganos tu propiedad</a>
      </li>
      <li>
        <a href="{{ LINK }}contacto" routerLinkActive="router-link-active"
          >Contacto</a
        >
      </li>
      <li class="uf"><span class="text-danger">HOY UF</span> {{ uf }}</li>
    </ul>
  </div>

  <!-- Header -->
  <div id="header">
    <div class="container">
      <!-- Left Side Content -->
      <div class="left-side">
        <!-- Logo -->
        <div id="logo" class="">
          <a href="{{ LINK }}home"
            ><img src="./assets/images/logo.png" alt=""
          /></a>

          <!-- Logo for Sticky Header -->
          <a href="{{ LINK }}home" class="sticky-logo"
            ><img src="images/logo.png" alt=""
          /></a>
        </div>

        <!-- Mobile Navigation -->
        <div class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
      <!-- Left Side Content / End -->

      <!-- Right Side Content / End -->
      <div class="right-side">
        <ul class="header-widget">
          <li class="with-btn"></li>

          <li>
            <i class="sl sl-icon-call-in"></i>
            <div class="widget-content">
              <span class="title">Llámanos</span>
              <span class="data">
                +56 9 5405 5808<br />
                +56 9 9534 9280
              </span>
            </div>
          </li>

          <li>
            <i class="sl sl-icon-envelope-open"></i>
            <div class="widget-content">
              <span class="title">Contáctanos</span>
              <span class="data">contacto@morelpropiedades.cl</span>
            </div>
          </li>
        </ul>
      </div>
      <!-- Right Side Content / End -->
    </div>

    <!-- Main Navigation -->
    <nav id="navigation" class="style-2">
      <div class="container-fixed navFixed">
        <ul id="responsive">
          <li class="first-element">
            <a
              href="https://morelpropiedades.cl/#/home"
              style="font-size: 30px;"
              ><i class="fa fa-home"></i
            ></a>
          </li>
          <li>
            <a>Maitencillo</a>
            <ul>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/CASA/all/Maitencillo/null/null/null/null/null/null/precio/DESC/0"
                  >Casas</a
                >
                <!--   <ul>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/CASA/all/5/null/null/null/null/null/null/precio/DESC/0"
                      >Maitencillo</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/CASA/all/5/todos/null/null/null/null/null/null/null/precio/DESC/0"
                      >Condominios</a
                    >
                  </li>
                </ul> -->
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/TERRENO/all/Maitencillo/null/null/null/null/null/null/precio/DESC/0"
                  >Terrenos</a
                >
                <!-- <ul>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/SITIO/all/5/null/null/null/null/null/null/precio/DESC/0"
                      >Maitencillo</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/SITIO/all/5/todos/null/null/null/null/null/null/null/precio/DESC/0"
                      >Condominios</a
                    >
                  </li>
                </ul> -->
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/DEPARTAMENTO/all/Maitencillo/null/null/null/null/null/null/precio/DESC/0"
                  >Departamentos</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a>Marbella</a>
            <ul>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/CASA/all/Marbella/null/null/null/null/null/null/precio/DESC/0"
                  >Casas</a
                >
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/SITIO/all/Marbella/null/null/null/null/null/null/precio/DESC/0"
                  >Terrenos</a
                >
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/DEPARTAMENTO/all/Marbella/null/null/null/null/null/null/precio/DESC/0"
                  >Departamentos</a
                >
              </li>
              <!-- <li><a href="">Proyectos</a></li> -->
            </ul>
          </li>
          <li>
            <a>Cachagua</a>
            <ul>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/CASA/all/Cachagua/null/null/null/null/null/null/precio/DESC/0"
                  >Casas</a
                >
                <!-- <ul>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/CASA/all/40/null/null/null/null/null/null/precio/DESC/0"
                      >Cachagua</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/CASA/all/40/todos/null/null/null/null/null/null/null/precio/DESC/0"
                      >Condominios</a
                    >
                  </li>
                </ul> -->
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/SITIO/all/Cachagua/null/null/null/null/null/null/precio/DESC/0"
                  >Terrenos</a
                >
                <!--   <ul>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/SITIO/all/40/null/null/null/null/null/null/precio/DESC/0"
                      >Cachagua</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/SITIO/all/40/todos/null/null/null/null/null/null/null/precio/DESC/0"
                      >Condominios</a
                    >
                  </li>
                </ul> -->
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/DEPARTAMENTO/all/Cachagua/null/null/null/null/null/null/precio/DESC/0"
                  >Departamentos</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a>Zapallar</a>
            <ul>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/CASA/all/Zapallar/null/null/null/null/null/null/precio/DESC/0"
                  >Casas</a
                >
                <!--     <ul>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/CASA/all/Zapallar/null/null/null/null/null/null/precio/DESC/0"
                      >Zapallar</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/CASA/all/Zapallar/todos/null/null/null/null/null/null/null/precio/DESC/0"
                      >Condominios</a
                    >
                  </li>
                </ul> -->
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/SITIO/all/Zapallar/null/null/null/null/null/null/precio/DESC/0"
                  >Terrenos</a
                >
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/DEPARTAMENTO/all/Zapallar/null/null/null/null/null/null/precio/DESC/0"
                  >Departamentos</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a>Papudo</a>
            <ul>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/CASA/all/Papudo/null/null/null/null/null/null/precio/DESC/0"
                  >Casas</a
                >
                <!--   <ul>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/CASA/all/Papudo/null/null/null/null/null/null/precio/DESC/0"
                      >Papudo</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/CASA/all/Papudo/todos/null/null/null/null/null/null/null/precio/DESC/0"
                      >Condominios</a
                    >
                  </li>
                </ul> -->
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/SITIO/all/Papudo/null/null/null/null/null/null/precio/DESC/0"
                  >Terrenos</a
                >
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/2/all/Papudo/null/null/null/null/null/null/precio/DESC/0"
                  >Departamentos</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a>Horcón</a>
            <ul>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/CASA/all/Horcón/null/null/null/null/null/null/precio/DESC/0"
                  >Casas</a
                >
                <!--  <ul>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/CASA/all/Horcón/null/null/null/null/null/null/precio/DESC/0"
                      >Horcón</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{
                        LINK
                      }}properties/all/CASA/all/Horcón/todos/null/null/null/null/null/null/null/precio/DESC/0"
                      >Condominios</a
                    >
                  </li>
                </ul> -->
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/SITIO/all/Horcón/null/null/null/null/null/null/precio/DESC/0"
                  >Terrenos</a
                >
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/2/all/Horcón/null/null/null/null/null/null/precio/DESC/0"
                  >Departamentos</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a>Puchuncaví</a>
            <ul>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/CASA/all/Puchuncaví/null/null/null/null/null/null/precio/DESC/0"
                  >Casas</a
                >
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/SITIO/all/Puchuncaví/null/null/null/null/null/null/precio/DESC/0"
                  >Terrenos</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a>Catapilco</a>
            <ul>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/CASA/all/Catapilco/null/null/null/null/null/null/precio/DESC/0"
                  >Casas</a
                >
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/SITIO/all/Catapilco/null/null/null/null/null/null/precio/DESC/0"
                  >Terrenos</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a>Otros</a>
            <ul>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/all/all/Los%20Molles/null/null/null/null/null/null/precio/DESC/0"
                  >Los Molles</a
                >
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/all/all/Mantagua/null/null/null/null/null/null/precio/DESC/0"
                  >Mantagua</a
                >
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/all/all/Quintero%20-%20Valle%20Alegre/null/null/null/null/null/null/precio/DESC/0"
                  >Quintero - Valle Alegre</a
                >
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/all/all/Quintero%20-%20Ritoque/null/null/null/null/null/null/precio/DESC/0"
                  >Quintero - Ritoque</a
                >
              </li>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/all/all/Pichicuy/null/null/null/null/null/null/precio/DESC/0"
                  >Pichicuy</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/proyectos/0">Proyectos</a>
            <!--    <ul>
              <li>
                <a
                  href="{{
                    LINK
                  }}properties/all/all/all/Marbella/Cubica%20Marbella/UF/null/null/null/null/null/null/precio/DESC/0"
                  >Cúbica</a
                >
              </li>
              <li><a href="{{ LINK }}planos">Casonas</a></li>
              <li><a href="{{ LINK }}tramites">La Reserva</a></li>
              <li>
                <a
                  href="{{
                    LINK
                  }}http://localhost:4200/#/properties/all/all/all/Catapilco/El%20Tebal/UF/null/null/null/null/null/null/precio/DESC/0"
                  >El Tebal</a
                >
              </li>
              <li>
                <a href="{{ LINK }}">Valle oculto</a>
              </li>
              <li>
                <a href="{{ LINK }}">Parque Maitencillo</a>
              </li>
            </ul>
          --></li>
          <li>
            <a>Información</a>
            <ul>
              <li><a href="{{ LINK }}datos-de-la-zona">Datos de la zona</a></li>
              <li><a href="{{ LINK }}planos">Planos</a></li>
              <li><a href="{{ LINK }}tramites">Trámites</a></li>
              <li>
                <a href="{{ LINK }}salud-y-emergencia">Salud y emergencia</a>
              </li>
            </ul>
          </li>
          <li class="last-element">
            <a
              routerLink="contacto"
              href="https://morelpropiedades.cl/#/contacto"
              style="font-size: 25px;"
              ><i class="fa fa-envelope"></i
            ></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="clearfix"></div>
    <!-- Main Navigation / End -->
  </div>
  <!-- Header / End -->
</header>
<div class="clearfix"></div>
<!-- Header Container / End -->
<router-outlet></router-outlet>
