<!-- Titlebar
================================================== -->
<div
  class="parallax titlebar"
  style="background-image: url('./assets/images/banner_web.jpg');"
>
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Propiedades</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li><b>Propiedades</b></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content
================================================== -->
<div class="container" style="min-height: 350px !important;">
  <div class="row fullwidth-layout">
    <ngx-spinner size="medium" type="ball-circus" [fullScreen]="true">
      <p style="color: #fff !important; margin-top: 30px;">
        <br /><b>Morel Propiedades</b> <br /><br />Aguarde por favor...
      </p>
    </ngx-spinner>
    <section
      class="col-md-12 fullwidth-layout margin-top-20 text-center"
      *ngIf="properties.length === 0 && !loadingProperties"
    >
      <h3 class="headline-box margin-bottom-15">
        No se encontraron propiedades disponibles.
      </h3>
      <br />
      <a class="button margin-bottom-20" routerLink="home">Ir al inicio</a>
    </section>
    <div class="col-md-12" *ngIf="properties.length > 0">
      <!-- Sorting / Layout Switcher -->
      <div class="row margin-bottom-15">
        <div class="col-md-6">
          <!-- Sort by -->
          <p>{{ results }} propiedades encontradas</p>
        </div>

        <div class="col-md-6">
          <div class="sort-by" style="float: right;">
            <select (change)="changeOrder($event)">
              <option value="asc">Precio ascendente</option>
              <option value="desc">Precio descendente</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Listings -->
      <div class="listings-container list-layout">
        <!-- Listing Item -->
        <div
          class="listing-item animated fadeIn slow"
          *ngFor="let p of properties"
        >
        <app-card-propiedad [p]="p" [fullWidth]="true"></app-card-propiedad>
        </div>
        <!-- Listing Item / End -->
      </div>
      <!-- Listings Container / End -->

      <div class="clearfix"></div>
      <!-- Pagination -->
      <div class="pagination-container margin-top-20">
        <nav class="pagination" style="text-align: center; margin: 10px 0px 30px 0px;">
          <ul>
            <li>
              <a (click)="getPage(previousPage)" class="prev">Anterior</a>
            </li>
            <li>
              <a class="detalle-pagination current-page"
                >Página {{ currentPage }} de {{ lastPage }}</a
              >
            </li>
            <li><a (click)="getPage(nextPage)" class="next">Siguiente</a></li>
          </ul>
        </nav>
      </div>
      <!-- Pagination / End -->
    </div>
  </div>
</div>
