<figure>
<a
[routerLink]="['/property-detail', p._id]"
class="listing-img-container"
>
<div class="listing-badges">
  <span>{{ p.operation }}</span>
</div>

<div class="listing-img-content">
  <span class="listing-price"
    >{{ p.value | formatCurrency: p.currency }} <i *ngIf="ufValue">{{ getValueSecondary() | formatCurrency: getCurrencySecondary(p.currency) }}</i></span
  >
</div>

<div class="listing-carousel">
  <div><img src="{{ p.mainImage }}" alt="" /></div>
</div>
</a>

<div class="listing-content">
<div class="listing-title">
  <h4 style="margin-bottom: 0px !important; height: 100px;  display: flex; align-items: center;">
    <a [routerLink]="['/property-detail', p.id]">
      {{ p.title }}
      <!-- {{ p.propertyType }}<span *ngIf="p.ubication.commune"> en {{ p.ubication.commune }}</span>

      <span
        style="font-weight: 400; text-transform: uppercase;"
        *ngIf="p.condominio"
      >
        | {{ p.condominio }}</span
      > -->
    </a>
  </h4>
  <p style="margin: 0px 0px 10px 0px !important; font-size: 12px;">
    <i class="fa fa-map-marker"></i>
    {{ p.ubication.commune }}
  </p>

  <a [routerLink]="['/property-detail', p._id]"
    class="details button border"
    >Ver Detalles</a>
</div>
<div class="listing-footer">
  <div
    style="color: #222222 !important; height: 100px;"
    [innerHtml]="
      p.publicObservations.length > 140
        ? (p.publicObservations | slice: 0:140) + '...'
        : (p.publicObservations | html: 'html')
    "
  ></div>
</div>

<ul class="listing-details">
 <li>{{ chars.supTotal }} mt<sup>2</sup> total</li>
  <li>{{ chars.supUtil }} mt<sup>2</sup> útil</li>
  <li>{{ chars.habitaciones }} Habitacione/s</li>
  <li>{{ chars.banios }} Baño/s</li> 
</ul>
</div>
</figure>