<!-- Titlebar
================================================== -->
<div
  class="parallax titlebar"
  style="background-image: url('./assets/images/banner_web.jpg');"
>
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Nuestra Empresa</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li><b>Nuestra Empresa</b></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Blog Posts -->
  <div class="blog-page">
    <div class="row">
      <!-- Post Content -->
      <div class="col-md-12">
        <!-- Blog Post -->
        <div class="blog-post single-post">
          <!-- Content -->
          <div class="post-content">
            <h2 class="text-center">Buenos negocios inmobiliarios</h2>

            <p style="text-align: justify;">
              Morel Propiedades nace luego del cierre de Leria Morel
              Propiedades, empresa que gestionó exitosos negocios inmobiliarios
              durante 11 años, cada socio decide emprender su camino propio en
              el mundo de Corretaje de Propiedades, y es así que María Teresa
              Morel Parot con una vasta y larga trayectoria crea en el año 2014
              Morel Propiedades Spa. con un objetivo claro, seguir estando
              presente en el mercado inmobiliario dándole a sus clientes una
              atención de excelencia y calidad; gestionando muchos y variados
              negocios bajo el concepto "los buenos negocios son buenos para
              todas las partes que participan en él".
            </p>
            <p style="text-align: justify;">
              La preciosa zona costera comprendida por Zapallar - Cachagua -
              Maitencillo - Papudo - Horcón y alrededores, se encuentra atendida
              por un equipo de agentes inmobiliarios quienes dirigidos por María
              Teresa Morel Parot se han convertido en " expertos en la zona"
              gestionando la compra- venta de propiedades y terrenos tanto
              habitacionales como comerciales, proyectos inmobiliarios en uno de
              los lugares más exclusivos del país.
            </p>
            <br />
            <p style="text-align: center;">
              <b style="color: #000;">María Teresa Morel Parot </b><br />
              Gerenta General
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>

      <div class="row">
        <!-- Post Content -->
        <div class="col-md-10 col-md-offset-1 padding-bottom-20">
          <img src="./assets/images/equipo.png" alt="" />
        </div>
      </div>
      <!-- Content / End -->
    </div>
  </div>
</div>
