<!-- Titlebar
================================================== -->
<div
  class="parallax titlebar"
  style="background-image: url('./assets/images/banner_web.jpg');"
>
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Contacto</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li><b>Contacto</b></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container / Start -->
<div class="container">
  <div class="row">
    <!-- Contact Details -->
    <div class="col-md-6">
      <!-- Contact Details -->
      <div class="sidebar-textbox">
        <h3 class="headline text-center">MOREL PROPIEDADES</h3>
        <h4>
          Zapallar- Cachagua- Maitencillo-Marbella- Papudo- Horcón- Puchuncaví-
          Los Molles
        </h4>
        <br />
        <div class="agent agent-page agency">
          <a class="agent-avatar">
            <img src="./assets/images/cachagua.jpg" alt="" />
          </a>

          <div class="agent-content">
            <div class="agent-name">
              <h4>
                Cachagua <br />
                <span style="font-size: 15px;">Casa Matriz</span>
              </h4>
            </div>

            <p>
              Av. Cachagua 174 <br />
              Cachagua, comuna de Zapallar.<br />
              <i class="fa fa-phone"></i> +56 33 277 1313
            </p>

            <div class="clearfix"></div>
          </div>
        </div>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13448.497941664791!2d-71.447289!3d-32.576204!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57c1aef74e7c5918!2sMorel%20Propiedades!5e0!3m2!1ses-419!2sar!4v1587436412567!5m2!1ses-419!2sar"
          width="100%"
          height="250"
          frameborder="0"
          style="border: 0;"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>

        <br />
        <br />
        <br />
        <br />

        <div class="agent agent-page agency">
          <a class="agent-avatar">
            <img src="./assets/images/maitencillo.jpg" alt="" />
          </a>

          <div class="agent-content">
            <div class="agent-name">
              <h4>Maitencillo</h4>
            </div>

            <p>Maitencillo, Ruta F 30 E s/n. <br /></p>

            <div class="clearfix"></div>
          </div>
        </div>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1679.824512137804!2d-71.4253700828992!3d-32.64216887597201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x95d58fea518beba3!2sMOREL%20PROPIEDADES!5e0!3m2!1ses-419!2sar!4v1587436686545!5m2!1ses-419!2sar"
          width="100%"
          height="250"
          frameborder="0"
          style="border: 0;"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>

        <!-- <div class="agent agent-page agency">

                          <a class="agent-avatar">
                            <img src="./assets/images/oficina-zapallar.jpg" alt="">
                          </a>

                          <div class="agent-content">
                            <div class="agent-name">
                              <h4>Zapallar</h4>
                            </div>

                            <p>Januario Ovalie 247<br/>
                            Local 1 - Zapallar</p>


                            <div class="clearfix"></div>
                          </div>

                        </div>

                        -->
      </div>
    </div>

    <!-- Contact Form -->
    <div class="col-md-6 back-gray">
      <section id="contact">
        <h4 class="margin-bottom-35">Contáctanos</h4>
        <p>
          Envíanos tus datos, tus preguntas y te contactaremos a la brevedad.
          Gracias!
        </p>
        <div id="contact-message"></div>

        <app-form-contacto></app-form-contacto>
      </section>
    </div>
    <!-- Contact Form / End -->
  </div>
</div>
<!-- Container / End -->
<br />
<br />
<br />
<br />
