<!-- Titlebar
================================================== -->
<div
  class="parallax titlebar"
  style="background-image: url('./assets/images/banner_web.jpg');"
>
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Nuestro Equipo</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Blog Posts -->
  <div class="blog-page">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="row agent">
            <div class="col-md-6 padding-0">
              <img
                class="imgAgent"
                src="./assets/images/agents/1.jpeg"
                alt=""
              />
            </div>

            <div class="col-md-6">
              <div class="agent-content">
                <div class="agent-name margin-auto padding-top-40">
                  <h4>Teresa Morel Parot</h4>
                  <span>Gerenta General</span>
                </div>
                <ul class="social-icons-agents">
                  <li>
                    <a
                      tooltip="Hola!. Soy <b>Teresa Morel Parot</b>"
                      placement="top"
                      ><i class="fa fa-user"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi email de contacto es: <br/><b>mariateresa@ morelpropiedades.cl</b>"
                      placement="bottom"
                      ><i class="fa fa-envelope"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi teléfono es <br/> <b> +56 9 9534 9280<br/> +56 33 2 771313<br/></br> No dudes en contactarme!"
                      placement="top"
                      ><i class="fa fa-phone"></i
                    ></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row agent">
            <div class="col-md-6 container-img">
              <div class="container-img-agent">
                <img
                  class="imgAgent"
                  src="./assets/images/agents/3.jpg"
                  alt=""
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="agent-content">
                <div class="agent-name margin-auto padding-top-40">
                  <h4>Teresa Halabí Morel</h4>
                  <span>Marketing y ventas</span>
                  <span class="zonas"
                    >Maitencillo- Laguna- Marbella- Horcón</span
                  >
                </div>
                <ul class="social-icons-agents">
                  <li>
                    <a
                      tooltip="Hola!. Soy <b>María Teresa Halabí Morel</b>"
                      placement="top"
                      ><i class="fa fa-user"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi email de contacto es: <br/><b>teresahalabi@ morelpropiedades.cl</b>"
                      placement="bottom"
                      ><i class="fa fa-envelope"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi teléfono es <br/> <b> +56 9 9534 9283<br/> +56 33 2 771313<br/></br> No dudes en contactarme!"
                      placement="top"
                      ><i class="fa fa-phone"></i
                    ></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-6">
          <div class="row agent">
            <div class="col-md-6 padding-0">
              <div class="agent-content">
                <div class="agent-name margin-auto padding-top-40">
                  <h4>Francisca Castillo Carmona</h4>
                  <span>Agente</span>
                  <span class="zonas">Zapallar - Cachagua</span>
                </div>
                <ul class="social-icons-agents">
                  <li>
                    <a
                      tooltip="Hola!. Soy <b>Francisca Castillo Carmona</b>"
                      placement="top"
                      ><i class="fa fa-user"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi email de contacto es: <br/><b>francisca@ morelpropiedades.cl</b>"
                      placement="bottom"
                      ><i class="fa fa-envelope"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi teléfono es <br/> <b> +56 9 9452 1409<br/> +56 33 2 771313<br/></br> No dudes en contactarme!"
                      placement="top"
                      ><i class="fa fa-phone"></i
                    ></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-md-6">
              <img class="imgAgent" src="./assets/images/agents/4.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row agent">
            <div class="col-md-6 padding-0">
              <div class="agent-content">
                <div class="agent-name margin-auto padding-top-40">
                  <h4>Marcela Villanueva Gallegos</h4>
                  <span>Agente</span>
                  <span class="zonas">Papudo</span>
                </div>
                <ul class="social-icons-agents">
                  <li>
                    <a
                      tooltip="Hola!. Soy <b>Marcela Villanueva Gallegos</b>"
                      placement="top"
                      ><i class="fa fa-user"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi email de contacto es: <br/><b>marcela@ morelpropiedades.cl</b>"
                      placement="bottom"
                      ><i class="fa fa-envelope"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi teléfono es <br/> <b> +56 9 9234 2512<br/> +56 33 2 771313<br/></br> No dudes en contactarme!"
                      placement="top"
                      ><i class="fa fa-phone"></i
                    ></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-md-6">
              <img class="imgAgent" src="./assets/images/agents/5.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-6">
          <div class="row agent">
            <div class="col-md-6 padding-0">
              <img class="imgAgent" src="./assets/images/agents/9.jpg" alt="" />
            </div>

            <div class="col-md-6">
              <div class="agent-content">
                <div class="agent-name margin-auto padding-top-40">
                  <h4>Carolina Weltz</h4>
                  <span>Ventas</span>
                  <span class="zonas"
                    >Maitencillo </span
                  >
                </div>
                <ul class="social-icons-agents">
                  <li>
                    <a
                      tooltip="Hola!. Soy <b>Carolina Weltz</b>"
                      placement="top"
                      ><i class="fa fa-user"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi email de contacto es: <br/><b>carolina@ morelpropiedades.cl</b>"
                      placement="bottom"
                      ><i class="fa fa-envelope"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi teléfono es <br/> <b> +56 9 9545 8549<br/> +56 33 2 771313<br/></br> No dudes en contactarme!"
                      placement="top"
                      ><i class="fa fa-phone"></i
                    ></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row agent">
            <div class="col-md-6 padding-0">
              <img class="imgAgent" src="./assets/images/agents/7.jpg" alt="" />
            </div>

            <div class="col-md-6">
              <div class="agent-content">
                <div class="agent-name margin-auto padding-top-40">
                  <h4>Katherine Herrera Cisterna</h4>
                  <span>Agente</span>
                  <span class="zonas">
                    Maitencillo - Laguna - Marbella - Horcón</span
                  >
                </div>
                <ul class="social-icons-agents">
                  <li>
                    <a
                      tooltip="Hola!. Soy <b>Katherine Herrera Cisterna</b>"
                      placement="top"
                      ><i class="fa fa-user"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi email de contacto es: <br/><b>katy@ morelpropiedades.cl</b>"
                      placement="bottom"
                      ><i class="fa fa-envelope"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi teléfono es <br/> <b> +56 9 9407 9248<br/> +56 33 2 771313<br/></br> No dudes en contactarme!"
                      placement="top"
                      ><i class="fa fa-phone"></i
                    ></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-6">
          <div class="row agent">
            <div class="col-md-6 padding-0">
              <div class="agent-content">
                <div class="agent-name margin-auto padding-top-40">
                  <h4>Cintya Farías Navarro</h4>
                  <span>Administración</span>
                </div>
                <ul class="social-icons-agents">
                  <li>
                    <a
                      tooltip="Hola!. Soy <b>Cintya Farías Navarro</b>"
                      placement="top"
                      ><i class="fa fa-user"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi email de contacto es: <br/><b>cintya@ morelpropiedades.cl</b>"
                      placement="bottom"
                      ><i class="fa fa-envelope"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi teléfono es <br/> <b> +56 9 9438 3725<br/> +56 33 2 771313<br/></br> No dudes en contactarme!"
                      placement="top"
                      ><i class="fa fa-phone"></i
                    ></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-md-6">
              <img class="imgAgent" src="./assets/images/agents/8.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row agent">
            <div class="col-md-6 padding-0">
              <div class="agent-content">
                <div class="agent-name margin-auto padding-top-40">
                  <h4>Viviana Olivares Vásquez</h4>
                  <span>Administración</span>
                </div>
                <ul class="social-icons-agents">
                  <li>
                    <a
                      tooltip="Hola!. Soy <b>Viviana Olivares Vásquez</b>"
                      placement="top"
                      ><i class="fa fa-user"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi email de contacto es: <br/><b>viviana@ morelpropiedades.cl</b>"
                      placement="bottom"
                      ><i class="fa fa-envelope"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      tooltip="Mi teléfono es <br/> <b> +56 9 9434 0844<br/> +56 33 2 771313<br/></br> No dudes en contactarme!"
                      placement="top"
                      ><i class="fa fa-phone"></i
                    ></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-md-6">
              <img
                class="imgAgent"
                src="./assets/images/agents/10.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Post Content
            <div class="col-md-6 col-md-offset-3">
                <div class="row agent">
                    <div class="col-md-6 padding-0">
                        <div class="agent-content">
                            <div class="agent-name margin-auto padding-top-40">
                                <h4>Viviana Olivares</h4>
                                <span>Administración</span>
                            </div>
                            <ul class="social-icons-agents">
                                <li><a tooltip="Hola!. Soy <b>Viviana Olivares</b>" placement="top" ><i class="fa fa-user"></i></a></li>
                                <li><a tooltip="Mi email de contacto es: <br/><b>vivianaolivares@ morelpropiedades.cl</b>" placement="bottom" ><i class="fa fa-envelope"></i></a></li>
                                <li><a tooltip="Mi teléfono es <b> +56 9 5349280</b>, no dudes en contactarme!" placement="top" ><i class="fa fa-phone"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <img class="imgAgent" src="./assets/images/agents/10.jpg" alt="">

                    </div>
                </div>
            </div>-->
    </div>
  </div>
</div>
