<!-- Titlebar
================================================== -->
<div
  class="parallax titlebar"
  style="background-image: url('./assets/images/banner_web.jpg');"
>
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Entreganos tu propiedad</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li><b>Contacto</b></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container / Start -->
<div class="container">
  <div class="row">
    <!-- Contact Details -->

    <!-- Contact Form -->
    <div class="col-md-12 back-gray">
      <section id="contact">
        <h3 class="margin-bottom-35">Contáctanos</h3>
        <p>
          Envíanos tus datos, tus preguntas y te contactaremos a la brevedad.
          Gracias!
        </p>
        <div id="contact-message"></div>

        <app-form-contacto></app-form-contacto>
      </section>
    </div>
    <!-- Contact Form / End -->
  </div>
</div>
<!-- Container / End -->
<br />
