<section class="fullwidth margin-top-95 margin-bottom-0">
  <!-- Box Headline -->
  <h3 class="headline-box">SALUD Y EMERGENCIA</h3>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- Blog Post -->
        <div class="blog-post">
          <!-- Content -->
          <div class="post-content">
            <h3><span class="im im-icon-Hospital-2"></span> EMERGENCIAS</h3>

            <p>
              A Ambulancia: 131<br />
              B Bomberos: 132<br />
              C Carabineros: 133<br />
              Investigaciones: 134<br />
              Fono drogas: 135<br />
              Socorro Andino: 136<br />
              Rescate marítimo: 137<br />
              Fono información: 139<br />
              Fono Niños: 147<br />
              Fono Familia: 149<br />
              Seguridad Ciudadana: 1408<br />
            </p>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>

      <div class="col-md-8">
        <!-- Blog Post -->
        <div class="blog-post">
          <!-- Img -->
          <!-- Content -->
          <div class="post-content">
            <h3>
              <span class="im im-icon-Life-Safer"></span> ASOCIACIÓN DE
              VOLUNTARIOS DE SALVAVIDAS DE PUCHUNCAVI
            </h3>

            <p>
              Fono: +56 9 9720 8036<br />
              Dirección: Avda. Bernardo O´Higgins 100, Puchuncaví.<br />
              <br />

              <b>Capitanía de Puerto de Quinteros</b><br />
              Fono: +56 32 930 057 <br />
              Fono: +56 32 934 126<br /><br />
              <b>Gobernación Marítima de Valparaíso</b><br />
              Dirección: Plaza Sotomayor 07, Valparaíso.<br />
              Fono: +56 32 220 8501<br />
            </p>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <!-- Blog Post -->
        <div class="blog-post">
          <!-- Img -->
          <!-- Content -->
          <div class="post-content">
            <h3><span class="im im-icon-Heart"></span> SALUD</h3>

            <p>
              <b>Salud Responde:</b> 600 360 7777<br /><br />

              <b>Posta de Urgencia de Zapallar</b><br />
              Dirección: Moises Chacon 168, Zapallar, Valparaíso.<br />
              Fono: +56 33 274 1206<br /><br />
              <b>Posta Rural Maitencillo</b><br />
              Dirección: Padre Enrique del Río s/n, Maitencillo.<br />
              Fono: +56 32 277 1715 <br />Fono: +56 32 277 1335<br /><br />
              <b>Consultorio Médico de Puchuncaví</b><br />
              Dirección: Avda. Bernardo O´Higgins 100, Puchuncaví.<br />
              Fono: +56 32 279 1368<br />
              Fono: +56 32 277 1368<br /><br />
              <b>Posta Salud Pública Papudo</b><br />
              Dirección: El Maitén 19, Papudo, Valparaíso.<br /><br />
              <b>Hospital de Quintero</b><br />
              Dirección: Aranguiz Tuleda 380, Quinteros.<br />
              Fono: +56 32 293 0727<br /><br />
              <b>Hospital San Agustín de La Ligua</b> <br />
              Dirección: Doctor Víctor Díaz N°1020, La Ligua.<br />
              Fono: Mesa Central +56 33 229 3491<br />
              Informaciones: +56 33 229 3495<br />
              Hospital de Quintero: +56 32 293 0313<br />
              Mutual: +56 32 293 0359<br />
            </p>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>
      <div class="col-md-4">
        <!-- Blog Post -->
        <div class="blog-post">
          <!-- Img -->
          <!-- Content -->
          <div class="post-content">
            <h3><span class="im im-icon-Police-Man"></span> CARABINEROS</h3>

            <p>
              <b>Retén Cachagua</b><br />
              Fono: +56 33 243 3038<br />
              Dirección: Avenida Cachagua 424, Comuna Zapallar, Región de
              Valparaíso.<br /><br />
              <b>Retén Maitencillo</b><br />
              Fono: +56 32 277 1060<br />
              Dirección: Calle Padre Enrique Del Río, 463, Puchuncaví, V Región,
              Chile.<br /><br />
              <b>Tenencia Puchuncaví</b><br />
              Fono: +56 32 279 1520<br />
              Fono: +56 32 279 1006<br /><br />
              <b>1ra. Comisaría de La Ligua</b><br />
              Fono: +56 33 243 3000<br />
              Reten de carabineros Horcon: +56 32 313 2414<br />
              Reten de carabineros Ventanas: +56 32 313 2415<br />
            </p>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>

      <div class="col-md-4">
        <!-- Blog Post -->
        <div class="blog-post">
          <!-- Img -->
          <!-- Content -->
          <div class="post-content">
            <h3><span class="im im-icon-Helicopter"></span> RESCATE AÉREO</h3>

            <p>
              <b>Centro de Rescate Clínica Las Condes </b><br />
              Fono: Desde fijo 2 2610 7777<br />
              Fono: Desde celular +56 9 7777 7777 <br />

              <br />

              <b>Centro de Rescate Clínica Alemana</b><br />
              Fono: +56 2 2910 9911 <br />
            </p>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>

      <div class="col-md-4">
        <!-- Blog Post -->
        <div class="blog-post">
          <!-- Img -->
          <!-- Content -->
          <div class="post-content">
            <h3><span class="im im-icon-Fire-Hydrant"></span> BOMBEROS</h3>

            <p>
              <b>Zapallar</b><br />
              Dirección: Benito Del Villar 100, Zapallar.<br />
              Fono: +56 33 274 1262 <br />
              Fono: +56 33 274 2327<br /><br />
              <b>La Laguna</b><br />
              Fono: +56 32 277 1601<br /><br />
              <b>Puchuncaví</b><br />
              Dirección: Latorre 270, Puchuncaví.<br />
              Fono: +56 32 279 1028<br /><br />
              <b>Papudo</b><br />
              Dirección: Fernández Concha 721, Papudo.<br />
              Fono: +56 33 279 1127<br />
            </p>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>
    </div>
  </div>
</section>
