<section class="fullwidth margin-top-95 margin-bottom-0">
  <!-- Box Headline -->
  <h3 class="headline-box">TRÁMITES</h3>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- Blog Post -->
        <div class="blog-post">
          <!-- Content -->
          <div class="post-content">
            <h3>MUNICIPALIDAD DE ZAPALLAR</h3>

            <p>
              Fono: 33 229 6800<br />
              German Riesco 399, Zapallar.<br />
              <br />
            </p>
            <p>
              <b>Oficina de Partes Municipal</b><br />
              German Riesco 399, Zapallar<br />
              Fono: (33) 742000 – Fax: 741414<br />
              Días y horario de atención: lunes a jueves 8:30 a 17:30 h y
              viernes 8:30 a 16:30 hr.<br />
            </p>
            <p>
              <b>Delegación Municipal de Catapilco</b><br />
              José María Mercado 335, Catapilco<br />
              Fono: 33 228 5019<br />
              Horarios de atención: Lunes a jueves 8:30 a 17:30 h y viernes 8:30
              a 16:30 hr.<br />
            </p>

            <a
              href="http://www.munizapallar.cl"
              target="_blank"
              class="read-more"
            >
              www.munizapallar.cl
            </a>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>

      <div class="col-md-4">
        <!-- Blog Post -->
        <div class="blog-post">
          <!-- Img -->
          <!-- Content -->
          <div class="post-content">
            <h3>MUNICIPALIDAD DE PAPUDO</h3>

            <p>
              Fono: 33 2325100<br />
              Chorrillos 9, Papudo.<br />
              <br />
            </p>
            <p>
              Juzgado policía local: 33 790080 anexo 38<br />
              Cesfam: 33 2325163<br />
              Dideco: 33 2325237<br />
              Registro Civil: 600 3702000 y +562 2427705<br />
              Bomberos: 33 2791127<br />
              Carabineros: 33 2433035<br />
              Posta Pullally: 33 2712309<br />
              Escuela Básica Papudo: 33 2325220<br />
              Escuela Básica Pullally: 33 271170<br />
            </p>

            <a
              href="http://www.municipalidadpapudo.cl"
              target="_blank"
              class="read-more"
            >
              www.municipalidadpapudo.cl
            </a>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>

      <div class="col-md-4">
        <!-- Blog Post -->
        <div class="blog-post">
          <!-- Img -->
          <!-- Content -->
          <div class="post-content">
            <h3>MUNICIPALIDAD DE PUCHUNCAVI</h3>

            <p>
              Fono: 32 2139600<br />
              Av. libertador Bernardo O’Higgins 70, Puchuncaví.<br />
              <br />
            </p>
            <p>
              <b>Oficina de Partes Municipal</b><br />
              German Riesco 399, Zapallar<br />
              Fono: (33) 742000 – Fax: 741414<br />
              Días y horario de atención: lunes a jueves 8:30 a 17:30 h y
              viernes 8:30 a 16:30 hr.<br />
            </p>
            <p>
              <b>Delegación Municipal de Catapilco</b><br />
              José María Mercado 335, Catapilco<br />
              Fono: 33 228 5019<br />
              Horarios de atención: Lunes a jueves 8:30 a 17:30 h y viernes 8:30
              a 16:30 hr.<br />
            </p>

            <a
              href="http://www.munipuchuncavi.cl"
              target="_blank"
              class="read-more"
            >
              www.munipuchuncavi.cl
            </a>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>

      <div class="col-md-4">
        <!-- Blog Post -->
        <div class="blog-post">
          <!-- Img -->
          <!-- Content -->
          <div class="post-content">
            <h3>NOTARIAS</h3>

            <p>
              <b>Notaria La Ligua </b><br />
              +56 33 2716535<br />
              Ortiz de Rosas 836, La Ligua <br />

              <br />

              <b
                >Notaria y Conservador de bienes raíces Alina Morales La
                Ligua</b
              ><br />
              Uribe 150, La Ligua <br />
              +56 33 2333412<br />
              <br />
              <b>Notaria Quintero </b><br />
              Av. Normadie 2014, Quintero <br />
              +56 32 2930261
              <a
                href="https://www.notariaquintero.cl"
                target="_blank"
                class="read-more"
              >
                www.notariaquintero.cl </a
              ><br />
              <br />
              <b>Notaria Marcelo Razón </b><br />
              Arturo Prat 1976, Quintero <br />
              +56 32 2930261<br />
            </p>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>

      <div class="col-md-4">
        <!-- Blog Post -->
        <div class="blog-post">
          <!-- Img -->
          <!-- Content -->
          <div class="post-content">
            <h3>CONSERVADOR CBR</h3>

            <p>
              <b>Conservador de Bienes Raíces de Quintero</b><br />
              Arturo Prat 1976, Quintero <br />
              +56 32 2933157<br />

              <a
                href="http://www.cbrquintero.cl"
                target="_blank"
                class="read-more"
              >
                www.cbrquintero.cl </a
              ><br />
              <b>Conservador de Bienes Raíces de la Ligua </b><br />
              Uribe 150, La Ligua <br />
              +56 33 2333412
              <a
                href="https://www.conservadorlaligua.cl"
                target="_blank"
                class="read-more"
              >
                www.conservadorlaligua.cl </a
              ><br />
            </p>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>
      <div class="col-md-4">
        <!-- Blog Post -->
        <div class="blog-post">
          <!-- Img -->
          <!-- Content -->
          <div class="post-content">
            <h3>ARQUITECTOS</h3>

            <p>
              <b>Loica Arquitecto, tramites de recepción municipal.</b><br />
              Santiago Torres s/n, Puchuncaví <br />
              +56 32 2791511<br />

              <a
                href="https://www.loicaarquitectos.cl"
                target="_blank"
                class="read-more"
              >
                www.loicaarquitectos.cl </a
              ><br />
            </p>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>
    </div>
  </div>
</section>
